<!DOCTYPE html>

<html ng-app="logsApp">
<head>
    <meta charset="utf-8" />
    <title>Logs - Who's Here?</title>

    <!-- Scripts -->
    <script src="js/jquery/jquery-1.11.3.min.js"></script>
    <script src="js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/master-app.js"></script>
    <script src="js/controllers/board.js"></script>
    <script src="js/filter.js"></script>



    <!-- CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="logsCntrl">
    <div id="container">
        <h1>Logs</h1>

        <div class="searchDate">
            <h3 style="text-align: center;font-family: sans-serif,ariel;text-decoration: underline;font-weight: bold;">Search</h3>
            <div>
                <div>
                    <label>From: </label><input type="date" ng-model="dateFrom.value" class="dateInput" />
                </div>
                <div>
                    <label>Until: </label><input type="date" ng-model="dateUntil.value" class="dateInput" />
                </div>
            </div>
        </div>

        <div id="tableStyle">
            <table class="css-serial table table-bordered table-hover">
                <tr>
                    <th>No.</th>
                    <th>Date Created</th>
                    <th>Employee Name</th>
                    <th>Status</th>
                    <th>Date expected to be off work</th>
                </tr>
                <tr ng-repeat="log in logs | orderBy : '-date' | datePicker : dateFrom.value : dateUntil.value">
                    <td></td>
                    <td>{{ log.dateCreated._d}}</td>
                    <td>{{ log.userId.FirstName}}</td>
                    <td>{{ log.status}}</td>
                    <td>{{ log.date}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>