* {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 601px) {

    body {
        background-color: #E4E4E4;
    }

    #headerDiv {
        position: relative;
        width: 100%;
        height: 82px;
        background-color: #2c3e50;
        color: #FFFFFF;
    }

    #homePagePic {
        background-image: url("../images/cs-logo.png");
        display: block;
        width: 0px;
        height: 0px;
        outline: none;
        background-repeat: no-repeat;
        padding-top: 53px;
        padding-left: 40px;
        margin-left: 47px;
        margin-top: 0px;
        position: absolute;
        top: 46px;
    }

    #loginPagePic{
        background-image: url("../images/portal-logo.png");
        width: 12px;
        height: 0px;
        outline: none;
        background-repeat: no-repeat;
        padding-top: 70px;
        padding-left: 38px;
        margin-left: 261px;
        margin-top: -30px;
    }
    #title {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        padding-left: 111px;
        padding-top: 36px;
    }

    .calendar {
        position: absolute;
        right: 80px;
        top: 20px;
    }

    .calendar #date {
        width: 296px;
        height: 50px;
        background-color: #0A0A32;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        cursor: pointer;
        border: none;
    }

    .userSection {
        width: 98%;
        height: 100%;
        margin-left: 15px;
    }

    .userSection .userColor {
        height: 100px;
        width: 100%;
        position: relative;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        margin-top: 7px;
        margin-bottom: 7px;
        border-left: thick solid #014DFF;
        background-color: #21c66f ;
}

    .userSection .userColor .userPic {
        width: 85px;
        height: 80%;
        border: 2px solid #FFFEFE;
        border-radius: 47px;
        margin-left: 25px;
        margin-top: 9px;
        z-index: 99999999;
        position: absolute;
    }

    .userSection .userColor .userName {
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 40px;
        left: 135px;
    }


    .userSection .userColor .selectOptions {
        position: absolute;
        right: 63px;
        top: 30px;
    }

    .userSection .userColor .selectOptions .options {
        width: 283px;
        height: 50px;
        display: table-column-group;
        cursor: pointer;
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
        color: #7F7F7F;
        padding-left: 10px;
    }

    .userSection .userColor .selectOptions .options:disabled{
        background: #dddddd;
    }

    .userSection .userColor .selectOptions .options option {
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
    }

    #addDay > input{
        width: 50px;
        height: 50px;
        position: absolute;
        right: -57px;
        bottom: 0px;
        color: #21c66f;
        background-color: #ffffff;
        font-size: 30px;
        cursor: pointer;
        -webkit-appearance: none;
    }

    #addDay > input:hover{

    }

    input {
        border-style: solid;
        border-bottom: 2px;
        border-bottom-color: black;
    }

    .ui-loading .ui-loader {
        display: block;
    }

    .ui-loader {
        display: none;
        position: absolute;
        opacity: .85;
        z-index: 100;
        left: 50%;
        width: 200px;
        margin-left: -130px;
        margin-top: -35px;
        padding: 10px 30px;
    }

    .status {
        height: 100%;
        /*position: absolute;*/
    }

    .emptyStatusBg {
        /*background-color: #00B250;*/
    }

    .statusBg {
        background-color: gray;
        background-image: repeating-linear-gradient(40deg, transparent 17px, rgba(222,222,222,1) 0px, rgba(236,240,241,1) 32px);
    }
    .login { 
    height: 147px;
    width: 30%;
    margin: auto;
    border: 3px #0C2D4D solid;
    padding: 10px;
    background-color: #4C4C4C;
    padding-top: 80px;
    margin-top: 75px;
    border-radius: 50px;
}

    .login  > input:first-child{ 
    	background: #ffffff;
       border: 1px #0C2D4D solid;
       padding: 10px;
       margin-left: 156px;
       margin-top: 52px;
       text-align: center;
       font-size: 20px;
       font-family: sans-serif;
    }
    #pass{
        margin-left: -128px;
        width: 35%;
        height: 30%;
        font-size: 1.3em;
        border: 2px #0C2D4D solid;
        text-align: center;
        border-radius: 20px;
        outline: none;
    }
    #submitLogin {
       padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    top: 170px;
    right: 256px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    display: list-item;
    margin-top: 40px;
    margin-left: 248px;
    }

    
}
/**************************************************************************************************************************************/







/***********************************************       Responsive design     **********************************************************/
@media screen and (min-width:0px) and (max-width: 600px) {
    body {
        background-color: #E4E4E4;
    }

    #headerDiv {
        position: relative;
    width: 100%;
    height: 53px;
    background-color: #2c3e50;
    color: #FFFFFF;
    overflow: hidden;
    }

    #homePagePic {
        background-image: url("../images/cs-logo.png");
        display: block;
        width: 0px;
        height: 0px;
        outline: none;
        background-repeat: no-repeat;
        padding-top: 70px;
        padding-left: 48px;
        margin-left: 13px;
        position: absolute;
        top: 17px;
    }

    

    #title {
        font-size: 15px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            padding-left: 56px;
            padding-top: 16px;
    }

    .calendar {
        position: absolute;
        right: -76px;
        top: 11px;
    }
    .calendar #date {
        width: 125px;
        height: 29px;
        background-color: #0A0A32;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        border: none;
        margin-right: 78px;
}

    .userSection {
        width: 93%;
    height: 100%;
    margin-left: 8px;
    }

    .userSection .userColor {
        height: 100px;
        width: 100%;
        position: relative;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
        margin-top: 5px;
        margin-bottom: 5px;
        border-left: thick solid #014DFF;
        background-color: #21c66f ;
}

    .userSection .userColor .userPic {
        width: 45px;
        height: 45%;
        border: 2px solid #FFFEFE;
        border-radius: 47px;
        margin-left: 6px;
        margin-top: 26px;
        z-index: 99999999;
        position: absolute;
    }

    .userSection .userColor .userName {
            font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 40px;
    left: 65px;
    }


    .userSection .userColor .selectOptions {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .userSection .userColor .selectOptions .options {
        width: 125px;
        height: 41px;
        display: table-column-group;
        cursor: pointer;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        color: #7F7F7F;
        padding-left: 11px;
    }

    .userSection .userColor .selectOptions .options:disabled{
        background: #dddddd;
    }

    .userSection .userColor .selectOptions .options option {
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
    }

    #addDay > input{
        width: 27px;
        height: 41px;
        position: absolute;
        right: -29px;
        bottom: 1px;
        color: #21c66f;
        background-color: #ffffff;
        font-size: 30px;
        cursor: pointer;
        -webkit-appearance: none;
    }

    input {
        border-style: solid;
        border-bottom: 2px;
        border-bottom-color: black;
    }

    .ui-loading .ui-loader {
        display: block;
    }

    .ui-loader {
        display: none;
        position: absolute;
        opacity: .85;
        z-index: 100;
        left: 50%;
        width: 200px;
        margin-left: -130px;
        margin-top: -35px;
        padding: 10px 30px;
    }

    .status {
        height: 100%;
        position: absolute;
    }

    .emptyStatusBg {
        background-color: #00B250;
    }

    .statusBg {
        background-color: gray;
        background-image: repeating-linear-gradient(40deg, transparent 17px, rgba(222,222,222,1) 0px, rgba(236,240,241,1) 32px);
    }

    #loginPagePic{
        background-image: url("../images/portal-logo.png");
        width: 12px;
        height: 0px;
        outline: none;
        background-repeat: no-repeat;
        padding-top: 70px;
        padding-left: 38px;
        margin-left: 109px;
        margin-top: -30px;
    }

    .login { 
        height: 100%;
    width: 80%;
    margin: auto;
    border: 3px #0C2D4D solid;
    padding: 10px;
    background-color: #4C4C4C;
    padding-top: 80px;
    margin-top: 75px;
    position: relative;
    border-radius: 50px;
    margin-left: 19px;
}

    .login  > input:first-child{ 
    	background: #ffffff;
       border: 1px #0C2D4D solid;
       padding: 10px;
       margin-left: 156px;
       margin-top: 52px;
       text-align: center;
       font-size: 20px;
       font-family: sans-serif;
    }
    #pass{
        margin-left: 41px;
        width: 70%;
        height: 40px;
        font-size: 20px;
        border: 2px #0C2D4D solid;
        text-align: center;
        border-radius: 20px;
        outline: none;
    }
     #submitLogin {
            padding: 5px 20px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 87px;
    margin-top: 94px;
    }
}

/************************************************       Logs page style            *********************************************************/

#container{
    width: 100%;
    height: 100%;
}

body{
    background-color:#dddddd !important;
}

h1{
    text-decoration: underline !important;
    margin: 33px 950px !important;
}

.searchDate {
    width: 250px;
    height: 385px;
    font-family: sans-serif;
    font-size: 20px;
    border: 3px solid #000000;
    margin-bottom: 0px;
    overflow: hidden;
    margin-left: 5px;
}

#tableStyle{
    position: absolute;
    top: 105px;
    left: 356px;
    border: 2px solid #000000;
    font-size: 25px;
}

table tr:first-child{
    font-size:25px !important;
    background-color: #FCEC5A;
}

table tr th, td{
    text-align:center !important;
    border: 1px solid black !important; 
}


.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
      counter-increment: serial-number;  /* Increment the serial number counter */
      content: counter(serial-number);  /* Display the counter */
}

#dateBtn{
    width : 115px;
    height:35px;
    margin-top: 10px;
    margin-left: 55px;
}

.dateInput{
    margin-left: -15px !important;
    border: 1px solid black !important;
    text-align: center !important;
}

.searchDate div{
    margin-top: 30px !important;
}

.searchDate div div:first-child{
    margin-left: 10px !important;
    margin-top: 10px !important;
}

.searchDate div div:nth-child(2){
    margin-left: 10px !important;
    margin-top: 10px !important;
}